.row{
    display: flex;
    align-items: center;
    text-align: center;
}

#pay{

}

#cart .nav-cart{
    //border: 2px solid red;
    margin: 10px 0px 0px 0px;
    color: black;
    height: 60px;
    display: flex;
    align-items: center;
}

.cart hr{
    margin: 10px 0px 0px 0px;
}

.cart p{
    padding: 0px 10px 0px 10px;
    color: black;
    display: flex;
    align-items: center;
}

.cart .cart_pname{
    margin-left: 10px;
    width: 200px;
    text-align: left;
}

.cart .cart_num{
    width: 100px;
    text-align: right;
}

.cart img{
    border: 2px solid gray;
    height: 55px;
    width: 55px;
}

.cart .col-3{
    display: flex;
    align-items: center;
    justify-content: center;
}
