.card { 

    margin-left: 30%;
    margin-right:30%;
    margin-top: 10%;

}

.card h3
{
    text-align:center;
    margin-top:15px
}

.card .card-head
{
    background-color: darkturquoise;
}

.card h3
{
    color: rgb(20, 20, 26);
}

