div.topnav
{
  position: sticky;
  top:0;
  z-index: 100;
}

/* Add a background color to the top navigation */
div.topnav > nav.bg-navbar{
  background-color: rgb(2, 30, 39);

}

/* Style the links inside the navigation bar */
div.topnav > nav a {
  float: left;
  color: #fffffffd;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}



.topnav a:hover
{
  background-color : white;
  color : black;
}

.topnav > nav a.nav-brand:hover{
  background-color : rgb(2, 30, 39);
}


.topnav input[type = "text"]
{

  background:rgba(54,54,54,1);
  border:0 none;
  -webkit-border-radius:8px;
          border-radius:8px;
  color:rgb(171, 227, 231)
}

.topnav input[type = "submit"]:hover
{
  background:rgba(226, 138, 6, 0.966);
}

.topnav input[type = "submit"]
{
  padding:5px 15px;
  background: rgb(255,153,0);
  border:0 none;
  cursor:pointer;


  -webkit-border-radius: 15px;
          border-radius: 15px;
}

.topnav div.nav-right{

  display: flex;
}

.topnav div.dropdown .dropdown-content
{
  float:left;
  border:10 none;
  top:60px;

  background-color: #fffffffd;
  width: 160px;

}

.topnav div.dropdown .dropdown-content li{
  float:none;
  color:black;
  padding:12px 16px;
  text-decoration: none;
  display:block ;
  text-align: right;
}

.topnav div.dropdown:hover .dropdown-content
{
  display:block;
  position:absolute;
  z-index: 2;
}


.category-nav > nav.bg-category
{
  background-color: rgb(49, 68, 75);
  overflow: hidden;
}
