div.topnav
{
  position: sticky;
  top:0;
  z-index: 100;
}

.nav-brand{
    padding:0 0 0 0;
}
/* Add a background color to the top navigation */
div.topnav > nav.bg-navbar{
    height: 15vh;
    background-color: black;
    display: flex;
    align-items: center;
}

/* Style the links inside the navigation bar */
.nav-right a {
  float: left;
  color: #fffffffd;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}



.topnav a:hover
{
  background-color : white;
  color : black;
}

.topnav > nav a.nav-brand:hover{
  background-color : rgb(2, 30, 39);
}

.form-inline{
    margin: 0 0 0 0 ;
}

.topnav input[type = "text"]
{
    padding: 10px 10px 10px 15px;
    height: 40px;
    margin: 0 20px 0 10px;
    background:rgba(54,54,54,1);
    border:0 none;
    -webkit-border-radius:8px;
            border-radius:8px;
    color:rgb(171, 227, 231);
}


.topnav input[type = "submit"]
{
    height: 40px;
    width: 70px;
    padding:5px 15px;
    margin: 0 0 0 0;
    background: rgb(255,153,0);
    border:0 none;
    cursor:pointer;
    color: black;

    -webkit-border-radius: 10px;
        border-radius: 10px;
}

#cart{
    width: 200px;
    height: 400px;
}

.topnav input[type = "submit"]:hover
{
    background:rgba(226, 138, 6, 0.966);
}

.topnav div.nav-right{
    margin:0 0 0 0 ;
  display: flex;
}

.topnav div.dropdown .dropdown-content
{
  float:left;
  border:10 none;
  top:40px;

  background-color: #fffffffd;
  width: 160px;

}

.topnav div.dropdown .dropdown-content li{
  float:none;
  color:black;
  padding:12px 16px;
  text-decoration: none;
  text-align: start;
  display:block ;

}


.topnav div.dropdown:hover .dropdown-content
{
  display:block;
  position:absolute;
  z-index: 2;
}


.category-nav > nav.bg-category
{
  background-color: rgb(49, 68, 75);
  overflow: hidden;
}
